html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
th {
    width: 50%;
    padding: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b8b8b8;
    border-radius: 15px;
}
li {
    float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 18px;

  text-decoration: none;
}
li a:hover {
  background-color: #474343;
}
rcorners1 {
  background: #73AD21;
 
  width: 200px;
  height: 150px;
}
.background img {
  position: relative;
  border-radius: 25px;
  background: #9A9A9A;
  padding-right: 208px;
  padding-top: 35px;
  padding-left: 20px;
  padding-bottom: 35px;
  width:210px;
  height: 210px;  
  border: solid 2px transparent;
  transition: all 0.2s ease;
}

.background .overlay {
  width: 100%;
  position: relative;
}
.overlay-textHeading {
  position: relative;
  top: -195px;
  left: 100px;
  color: #fff; 

  font-size: 20px; 
  text-align: center;
}

.overlay-textSubHeading {
  position: relative;
  top: -185px;
  left: 100px;
  color: #fff; 
  font-weight: normal;
  font-size: 17px; 
  text-align: center;
}
 .background img:hover {
   transform: scale(1.05); 
   border-color: black;
 }