html {
    font-family:"Arial", Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: rgb(84, 84, 84);
}
h1 {
    color: rgb(143, 143, 143);
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about_img {
    flex: 1;
}
.aboutimg {
    flex: 1;
    overflow: hidden;
}
.aboutimg img{
    width: 80%;
    height: auto;
    margin-left: 70px;
    display: block;
    transition: 0.5s ease;
}
.aboutimg:hover img{
    transform: scale(1.1);
}
.info {
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
    padding: 30px 40px; 
    border: 2px solid rgb(0, 0, 0);
}
.info h2 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: rgb(138, 138, 138);
}
.info p {
    line-height: 1.5;
    margin-bottom: 20px;
}
.info a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(138, 138, 138);
}
.info a:hover {
    text-decoration: underline;
}
th {
    width: 50%;
    padding: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b8b8b8;
    border-radius: 15px;
}
li {
    float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 18px;

  text-decoration: none;
}
li a:hover {
  background-color: #474343;
}