html {
    font-family: "Oswald", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

#grid ul {
    display: grid;
    grid-template-columns: 1fr;
}

.divv {
    display: flex;
}

.button-container {
    display: flex;
    padding: 10px;
    column-gap: 10px;
    justify-content: space-between;
}

#grid li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.box {
    margin: .5px;
    width: 75px;
    height: 75px;
}

#tog {
    margin: 10px 0px;
}

.allimg {
    width: 100%;
    position: center;
    bottom: 5px;
    top: 5px;
}

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;

}


@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 11vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


#nav-bar th {
    width: 50%;
    padding: 50px;
}
#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b8b8b8;
    border-radius: 15px;
}
#nav-bar li {
    float: left;
}
#nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 18px;

  text-decoration: none;
}
#nav-bar li a:hover {
  background-color: #474343;
}

#nav-bar li button {
  display: block;
  font-size: 16px;
  height: 42px;
  background-color: #b8b8b8;
  border: none;
  color: white;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
}

#nav-bar li button:hover {
  background-color: #474343;
  cursor: pointer;
}