.container{
  align-items: center;
}

.buttonPuzzle1 {
  position: relative;
  
  margin-top: 4%;
  margin-left: 62%;  
  left:1vw;
  font-family: 'Oswald';
  background-color: #878787; /* Green */
  border-radius: 25px;
  border: none;
  color: white;
  padding: 20px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
}



.buttonPuzzle2 {
  
  position: relative;

  margin-top: 1%;
  margin-left: 68%;  
  left: 1vw;
  font-family: 'Oswald';
  background-color: #878787; 
  border-radius: 13px;
  border: none;
  color: white;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
}
.buttonPuzzle3 {
  position: relative;
  margin-top: 1%;
  margin-left: 59.5%;  
  left: -1vw;
  font-family: 'Oswald';
  background-color: #878787;
  border-radius: 13px;
  border: none;
  color: white;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
}
.textPuzzle {
  margin-top: 10%;
  line-height: 2;
  position: relative;
  margin-left: 56.5%;
  left:-1vw;
  font-size: 2.9vw;
  font-family: 'Oswald';
  color: #000000
}
